* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: 16px;
}
